exclude: '.*\.ipynb$'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: 'cassettes/'

- repo: https://github.com/psf/black
  rev: 24.8.0
  hooks:
  - id: black
    additional_dependencies: ['.[jupyter]']
    language_version: python3

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.4
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: local
  hooks:
  - id: format
    name: format
    entry: .venv/bin/pdm run format
    types: [python]
    language: system
    pass_filenames: false
  - id: lint
    name: lint
    entry: .venv/bin/pdm run lint
    types: [python]
    language: system
    pass_filenames: false
