interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 2591602, "userData": {"gender": "MALE", "weight": 82800.0, "height":
        182.0, "timeFormat": "time_twenty_four_hr", "birthDate": "SANITIZED", "measurementSystem":
        "metric", "activityLevel": null, "handedness": "RIGHT", "powerFormat": {"formatId":
        30, "formatKey": "watt", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        true, "displayFormat": null}, "heartRateFormat": {"formatId": 21, "formatKey":
        "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed": false, "displayFormat":
        null}, "firstDayOfWeek": {"dayId": 2, "dayName": "sunday", "sortOrder": 2,
        "isPossibleFirstDay": true}, "vo2MaxRunning": 45.0, "vo2MaxCycling": null,
        "lactateThresholdSpeed": 0.34722125000000004, "lactateThresholdHeartRate":
        null, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1044719868, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        true, "latitude": null, "longitude": null}, "golfDistanceUnit":
        "statute_us", "golfElevationUnit": null, "golfSpeedUnit": null, "externalBottomTime":
        null}, "userSleep": {"sleepTime": 80400, "defaultSleepTime": false, "wakeTime":
        24000, "defaultWakeTime": false}, "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/hrv-service/hrv/2000-01-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
