interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 2591602, "userData": {"gender": "MALE", "weight": 79800.0, "height":
        182.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1984-10-17", "measurementSystem":
        "metric", "activityLevel": null, "handedness": "RIGHT", "powerFormat": {"formatId":
        30, "formatKey": "watt", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        true, "displayFormat": null}, "heartRateFormat": {"formatId": 21, "formatKey":
        "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed": false, "displayFormat":
        null}, "firstDayOfWeek": {"dayId": 2, "dayName": "sunday", "sortOrder": 2,
        "isPossibleFirstDay": true}, "vo2MaxRunning": 46.0, "vo2MaxCycling": null,
        "lactateThresholdSpeed": 0.34722125000000004, "lactateThresholdHeartRate":
        null, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1044719868, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        false, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null}, "userSleep": {"sleepTime":
        80400, "defaultSleepTime": false, "wakeTime": 24000, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/wellness-service/wellness/floorsChartData/daily/2023-07-01
  response:
    body:
      string: '{"startTimestampGMT": "2023-07-01T06:00:00.0", "endTimestampGMT": "2023-07-02T06:00:00.0",
        "startTimestampLocal": "2023-07-01T00:00:00.0", "endTimestampLocal": "2023-07-02T00:00:00.0",
        "floorsValueDescriptorDTOList": [{"key": "startTimeGMT", "index": 0}, {"key":
        "endTimeGMT", "index": 1}, {"key": "floorsAscended", "index": 2}, {"key":
        "floorsDescended", "index": 3}], "floorValuesArray": [["2023-07-01T06:00:00.0",
        "2023-07-01T06:15:00.0", 0, 0], ["2023-07-01T06:15:00.0", "2023-07-01T06:30:00.0",
        0, 0], ["2023-07-01T06:30:00.0", "2023-07-01T06:45:00.0", 0, 0], ["2023-07-01T06:45:00.0",
        "2023-07-01T07:00:00.0", 0, 0], ["2023-07-01T07:00:00.0", "2023-07-01T07:15:00.0",
        0, 0], ["2023-07-01T07:15:00.0", "2023-07-01T07:30:00.0", 0, 0], ["2023-07-01T07:30:00.0",
        "2023-07-01T07:45:00.0", 0, 0], ["2023-07-01T07:45:00.0", "2023-07-01T08:00:00.0",
 [...]
