interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 3154645, "profileId": 2591602, "garminGUID": "0690cc1d-d23d-4412-b027-80fd4ed1c0f6",
        "displayName": "mtamizi", "fullName": "Matin Tamizi", "userName": "mtamizi",
        "profileImageUuid": "73240e81-6e4d-43fc-8af8-c8f6c51b3b8f", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/73240e81-6e4d-43fc-8af8-c8f6c51b3b8f-2591602.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/685a19e9-a7be-4a11-9bf9-faca0c5d1f1a-2591602.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/6302f021-0ec7-4dc9-b0c3-d5a19bc5a08c-2591602.png",
        "location": "Ciudad de M\u00e9xico, CDMX", "facebookUrl": null, "twitterUrl":
        null, "personalWebsite": null, "motivation": null, "bio": null, "primaryActivity":
        null, "favoriteActivityTypes": [], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": [], "cyclingClassification": null, "cyclingMaxAvgPower":
        0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility": "private", "activityStartVisibility":
        "private", "activityMapVisibility": "public", "courseVisibility": "public",
        "activityHeartRateVisibility": "public", "activityPowerVisibility": "public",
        "badgeVisibility": "private", "showAge": false, "showWeight": false, "showHeight":
        false, "showWeightClass": false, "showAgeRange": false, "showGender": false,
        "showActivityClass": false, "showVO2Max": false, "showPersonalRecords": false,
        "showLast12Months": false, "showLifetimeTotals": false, "showUpcomingEvents":
        false, "showRecentFavorites": false, "showRecentDevice": false, "showRecentGear":
        false, "showBadges": true, "otherActivity": null, "otherPrimaryActivity":
        null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ", "SCOPE_ATP_WRITE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_READ",
        "SCOPE_CONNECT_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ",
        "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD",
        "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ",
        "SCOPE_INSIGHTS_WRITE", "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_CONNECT_2_USER", "ROLE_TACX_APP_USER"],
        "nameApproved": true, "userProfileFullName": "Matin Tamizi", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 122, "levelUpdateDate": "2020-12-12T15:20:38.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 2591602, "userData": {"gender": "MALE", "weight": 83000.0, "height":
        182.0, "timeFormat": "time_twenty_four_hr", "birthDate": "2020-01-01", "measurementSystem":
        "metric", "activityLevel": null, "handedness": "RIGHT", "powerFormat": {"formatId":
        30, "formatKey": "watt", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        true, "displayFormat": null}, "heartRateFormat": {"formatId": 21, "formatKey":
        "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed": false, "displayFormat":
        null}, "firstDayOfWeek": {"dayId": 2, "dayName": "sunday", "sortOrder": 2,
        "isPossibleFirstDay": true}, "vo2MaxRunning": 50.0, "vo2MaxCycling": null,
        "lactateThresholdSpeed": 0.34722125000000004, "lactateThresholdHeartRate":
        null, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1044719868, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null,
        "trainingStatusPausedDate": null, "weatherLocation": null, "golfDistanceUnit":
        "statute_us", "golfElevationUnit": null, "golfSpeedUnit": null, "externalBottomTime":
        null, "availableTrainingDays": ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY",
        "FRIDAY", "SATURDAY", "SUNDAY"], "preferredLongTrainingDays": []}, "userSleep":
        {"sleepTime": 80400, "defaultSleepTime": false, "wakeTime": 24000, "defaultWakeTime":
        false}, "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/wellness-service/wellness/dailySummaryChart/mtamizi?date=2021-01-01
  response:
    body:
      string: '[{"startGMT": "2021-01-01T06:00:00.0", "endGMT": "2021-01-01T06:15:00.0",
        "steps": 0, "pushes": 0, "primaryActivityLevel": "none", "activityLevelConstant":
        true}, {"startGMT": "2021-01-01T06:15:00.0", "endGMT": "2021-01-01T06:30:00.0",
        "steps": 0, "pushes": 0, "primaryActivityLevel": "none", "activityLevelConstant":
        true}, {"startGMT": "2021-01-01T06:30:00.0", "endGMT": "2021-01-01T06:45:00.0",
        "steps": 0, "pushes": 0, "primaryActivityLevel": "none", "activityLevelConstant":
        true}, {"startGMT": "2021-01-01T06:45:00.0", "endGMT": "2021-01-01T07:00:00.0",
        "steps": 0, "pushes": 0, "primaryActivityLevel"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: POST
    uri: https://connectapi.garmin.com/wellness-service/wellness/epoch/request/2021-01-01
  response:
    body:
      string: '{"userProfilePk": 2591602, "calendarDate": "2021-01-01", "status":
        "SUBMITTED", "source": "USER", "ghReloadMetaData": "", "createDate": "2023-10-29T05:15:57.34",
        "deviceList": [{"deviceId": 3329978681, "deviceName": "f\u0113nix\u00ae 6X
        - Pro and Sapphire Editions", "preferredActivityTracker": true}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
