interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 82413233, "userData": {"gender": "MALE", "weight": 85100.0,
        "height": 184.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1966-09-15",
        "measurementSystem": "metric", "activityLevel": 4, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 39.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": null, "lactateThresholdHeartRate": null, "diveNumber":
        null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        null, "thresholdHeartRateAutoDetected": null, "ftpAutoDetected": null, "trainingStatusPausedDate":
        null, "weatherLocation": {"useFixedLocation": null, "latitude": null, "longitude":
        null, "locationName": null, "isoCountryCode": null, "postalCode": null}, "golfDistanceUnit":
        null, "golfElevationUnit": null, "golfSpeedUnit": null, "externalBottomTime":
        null, "availableTrainingDays": ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY",
        "FRIDAY", "SATURDAY", "SUNDAY"], "preferredLongTrainingDays": ["SATURDAY",
        "SUNDAY"], "virtualCaddieDataSource": null, "numberDivesAutomatically": null},
        "userSleep": {"sleepTime": 81000, "defaultSleepTime": false, "wakeTime": 23400,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 81000,
        "endSleepTimeSecondsFromMidnight": 23400}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 81000, "endSleepTimeSecondsFromMidnight":
        23400}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        81000, "endSleepTimeSecondsFromMidnight": 23400}, {"sleepWindowFrequency":
        "WEDNESDAY", "startSleepTimeSecondsFromMidnight": 81000, "endSleepTimeSecondsFromMidnight":
        23400}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        81000, "endSleepTimeSecondsFromMidnight": 23400}, {"sleepWindowFrequency":
        "FRIDAY", "startSleepTimeSecondsFromMidnight": 81000, "endSleepTimeSecondsFromMidnight":
        23400}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        81000, "endSleepTimeSecondsFromMidnight": 23400}, {"sleepWindowFrequency":
        "DAILY", "startSleepTimeSecondsFromMidnight": 81000, "endSleepTimeSecondsFromMidnight":
        23400}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/usersummary-service/usersummary/daily/5da0f071-075e-438c-ae63-c3f3eef73b1e?calendarDate=2023-07-01
  response:
    body:
      string: '{"userProfileId": 82413233, "totalKilocalories": 2202.0, "activeKilocalories":
        26.0, "bmrKilocalories": 2176.0, "wellnessKilocalories": 2202.0, "burnedKilocalories":
        null, "consumedKilocalories": null, "remainingKilocalories": 2202.0, "totalSteps":
        1119, "netCalorieGoal": 1500, "totalDistanceMeters": 937, "wellnessDistanceMeters":
        937, "wellnessActiveKilocalories": 26.0, "netRemainingKilocalories": 1526.0,
        "userDailySummaryId": 82413233, "calendarDate": "2023-07-01", "rule": {"typeId":
        2, "typeKey": "private"}, "uuid": "7ce5013a375447658c41b25330938228", "dailyStepGoal":
        3490, "wellnessStartTimeGmt": "2023-06-30T22:00:00.0", "wellnessStartTimeLocal":
        "2023-07-01T00:00:00.0", "wellnessEndTimeGmt": "2023-07-01T22:00:00.0", "wellnessEndTimeLocal":
        "2023-07-02T00:00:00.0", "durationInMilliseconds": 86400000, "wellnessDescription":
        null, "highlyActiveSeconds": 164, "activeSeconds": 384, "sedentarySeconds":
        85852, "sleepingSeconds": 0, "includesWellnessData": true, "includesActivityData":
        false, "includesCalorieConsumedData": false, "privacyProtected": false, "moderateIntensityMinutes":
        0, "vigorousIntensityMinutes": 0, "floorsAscendedInMeters": 10.375, "floorsDescendedInMeters":
        12.415, "floorsAscended": 3.40387, "floorsDescended": 4.07316, "intensityMinutesGoal":
        150, "userFloorsAscendedGoal": 10, "minHeartRate": 51, "maxHeartRate": 102,
        "restingHeartRate": 52, "lastSevenDaysAvgRestingHeartRate": 49, "source":
        "GARMIN", "averageStressLevel": 28, "maxStressLevel": 87, "stressDuration":
        16680, "restStressDuration": 25320, "activityStressDuration": 10620, "uncategorizedStressDuration":
        1560, "totalStressDuration": 54180, "lowStressDuration": 11820, "mediumStressDuration":
        4620, "highStressDuration": 240, "stressPercentage": 30.79, "restStressPercentage":
        46.73, "activityStressPercentage": 19.6, "uncategorizedStressPercentage":
        2.88, "lowStressPercentage": 21.82, "mediumStressPercentage": 8.53, "highStressPercentage":
        0.44, "stressQualifier": "CALM_AWAKE", "measurableAwakeDuration": 52620, "measurableAsleepDuration":
        0, "lastSyncTimestampGMT": null, "minAvgHeartRate": 51, "maxAvgHeartRate":
        97, "bodyBatteryChargedValue": 23, "bodyBatteryDrainedValue": 23, "bodyBatteryHighestValue":
        66, "bodyBatteryLowestValue": 47, "bodyBatteryMostRecentValue": 60, "bodyBatteryDuringSleep":
        null, "bodyBatteryAtWakeTime": null, "bodyBatteryVersion": 1.0, "abnormalHeartRateAlertsCount":
        null, "averageSpo2": 95.0, "lowestSpo2": 91, "latestSpo2": 95, "latestSpo2ReadingTimeGmt":
        "2023-07-01T22:00:00.0", "latestSpo2ReadingTimeLocal": "2023-07-02T00:00:00.0",
        "averageMonitoringEnvironmentAltitude": null, "restingCaloriesFromActivity":
        null, "avgWakingRespirationValue": 13.0, "highestRespirationValue": 16.0,
        "lowestRespirationValue": 10.0, "latestRespirationValue": 11.0, "latestRespirationTimeGMT":
        "2023-07-01T22:00:00.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
