interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 3154645, "profileId": 2591602, "garminGUID": "0690cc1d-d23d-4412-b027-80fd4ed1c0f6",
        "displayName": "mtamizi", "fullName": "Matin Tamizi", "userName": "mtamizi",
        "profileImageUuid": "73240e81-6e4d-43fc-8af8-c8f6c51b3b8f", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/73240e81-6e4d-43fc-8af8-c8f6c51b3b8f-2591602.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/685a19e9-a7be-4a11-9bf9-faca0c5d1f1a-2591602.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/6302f021-0ec7-4dc9-b0c3-d5a19bc5a08c-2591602.png",
        "location": "Ciudad de M\u00e9xico, CDMX", "facebookUrl": null, "twitterUrl":
        null, "personalWebsite": null, "motivation": null, "bio": null, "primaryActivity":
        null, "favoriteActivityTypes": [], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": [], "cyclingClassification": null, "cyclingMaxAvgPower":
        0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility": "private", "activityStartVisibility":
        "private", "activityMapVisibility": "public", "courseVisibility": "public",
        "activityHeartRateVisibility": "public", "activityPowerVisibility": "public",
        "badgeVisibility": "private", "showAge": false, "showWeight": false, "showHeight":
        false, "showWeightClass": false, "showAgeRange": false, "showGender": false,
        "showActivityClass": false, "showVO2Max": false, "showPersonalRecords": false,
        "showLast12Months": false, "showLifetimeTotals": false, "showUpcomingEvents":
        false, "showRecentFavorites": false, "showRecentDevice": false, "showRecentGear":
        false, "showBadges": true, "otherActivity": null, "otherPrimaryActivity":
        null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ", "SCOPE_ATP_WRITE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_READ",
        "SCOPE_CONNECT_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ",
        "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD",
        "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ",
        "SCOPE_INSIGHTS_WRITE", "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_CONNECT_2_USER", "ROLE_TACX_APP_USER"],
        "nameApproved": true, "userProfileFullName": "Matin Tamizi", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 117, "levelUpdateDate": "2020-12-12T15:20:38.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 2591602, "userData": {"gender": "MALE", "weight": 79800.0, "height":
        182.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1984-10-17", "measurementSystem":
        "metric", "activityLevel": null, "handedness": "RIGHT", "powerFormat": {"formatId":
        30, "formatKey": "watt", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        true, "displayFormat": null}, "heartRateFormat": {"formatId": 21, "formatKey":
        "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed": false, "displayFormat":
        null}, "firstDayOfWeek": {"dayId": 2, "dayName": "sunday", "sortOrder": 2,
        "isPossibleFirstDay": true}, "vo2MaxRunning": 46.0, "vo2MaxCycling": null,
        "lactateThresholdSpeed": 0.34722125000000004, "lactateThresholdHeartRate":
        null, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1044719868, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        false, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null}, "userSleep": {"sleepTime":
        80400, "defaultSleepTime": false, "wakeTime": 24000, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/usersummary-service/usersummary/daily/mtamizi?calendarDate=2023-07-01
  response:
    body:
      string: '{"userProfileId": 2591602, "totalKilocalories": 2498.0, "activeKilocalories":
        370.0, "bmrKilocalories": 2128.0, "wellnessKilocalories": 2498.0, "burnedKilocalories":
        null, "consumedKilocalories": null, "remainingKilocalories": 2498.0, "totalSteps":
        12413, "netCalorieGoal": null, "totalDistanceMeters": 10368, "wellnessDistanceMeters":
        10368, "wellnessActiveKilocalories": 370.0, "netRemainingKilocalories": 370.0,
        "userDailySummaryId": 2591602, "calendarDate": "2023-07-01", "rule": {"typeId":
        2, "typeKey": "private"}, "uuid": "08064eebd5f64e299745fce9e3ae5c19", "dailyStepGoal":
        7950, "totalPushDistance": 0, "totalPushes": 0, "wellnessStartTimeGmt": "2023-07-01T06:00:00.0",
        "wellnessStartTimeLocal": "2023-07-01T00:00:00.0", "wellnessEndTimeGmt": "2023-07-02T06:00:00.0",
        "wellnessEndTimeLocal": "2023-07-02T00:00:00.0", "durationInMilliseconds":
        86400000, "wellnessDescription": null, "highlyActiveSeconds": 768, "activeSeconds":
        10219, "sedentarySeconds": 58253, "sleepingSeconds": 17160, "includesWellnessData":
        true, "includesActivityData": false, "includesCalorieConsumedData": false,
        "privacyProtected": false, "moderateIntensityMinutes": 0, "vigorousIntensityMinutes":
        0, "floorsAscendedInMeters": 90.802, "floorsDescendedInMeters": 88.567, "floorsAscended":
        29.79068, "floorsDescended": 29.05741, "intensityMinutesGoal": 150, "userFloorsAscendedGoal":
        35, "minHeartRate": 48, "maxHeartRate": 107, "restingHeartRate": 51, "lastSevenDaysAvgRestingHeartRate":
        49, "source": "GARMIN", "averageStressLevel": 35, "maxStressLevel": 86, "stressDuration":
        36120, "restStressDuration": 27780, "activityStressDuration": 17400, "uncategorizedStressDuration":
        5040, "totalStressDuration": 86340, "lowStressDuration": 21780, "mediumStressDuration":
        12660, "highStressDuration": 1680, "stressPercentage": 41.83, "restStressPercentage":
        32.18, "activityStressPercentage": 20.15, "uncategorizedStressPercentage":
        5.84, "lowStressPercentage": 25.23, "mediumStressPercentage": 14.66, "highStressPercentage":
        1.95, "stressQualifier": "STRESSFUL", "measurableAwakeDuration": 64260, "measurableAsleepDuration":
        17040, "lastSyncTimestampGMT": null, "minAvgHeartRate": 49, "maxAvgHeartRate":
        106, "bodyBatteryChargedValue": 43, "bodyBatteryDrainedValue": 43, "bodyBatteryHighestValue":
        48, "bodyBatteryLowestValue": 5, "bodyBatteryMostRecentValue": 5, "bodyBatteryVersion":
        2.0, "abnormalHeartRateAlertsCount": null, "averageSpo2": 92.0, "lowestSpo2":
        85, "latestSpo2": 86, "latestSpo2ReadingTimeGmt": "2023-07-02T06:00:00.0",
        "latestSpo2ReadingTimeLocal": "2023-07-02T00:00:00.0", "averageMonitoringEnvironmentAltitude":
        2254.0, "restingCaloriesFromActivity": null, "avgWakingRespirationValue":
        13.0, "highestRespirationValue": 21.0, "lowestRespirationValue": 9.0, "latestRespirationValue":
        18.0, "latestRespirationTimeGMT": "2023-07-02T06:00:00.0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/weight-service/weight/dateRange?startDate=2023-07-01&endDate=2023-07-01
  response:
    body:
      string: '{"startDate": "2023-07-01", "endDate": "2023-07-01", "dateWeightList":
        [], "totalAverage": {"from": 1688169600000, "until": 1688255999999, "weight":
        null, "bmi": null, "bodyFat": null, "bodyWater": null, "boneMass": null, "muscleMass":
        null, "physiqueRating": null, "visceralFat": null, "metabolicAge": null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
