interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 2591602, "userData": {"gender": "MALE", "weight": 83199.0, "height":
        182.0, "timeFormat": "time_twenty_four_hr", "birthDate": "SANITIZED", "measurementSystem":
        "metric", "activityLevel": null, "handedness": "RIGHT", "powerFormat": {"formatId":
        30, "formatKey": "watt", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        true, "displayFormat": null}, "heartRateFormat": {"formatId": 21, "formatKey":
        "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed": false, "displayFormat":
        null}, "firstDayOfWeek": {"dayId": 2, "dayName": "sunday", "sortOrder": 2,
        "isPossibleFirstDay": true}, "vo2MaxRunning": 45.0, "vo2MaxCycling": null,
        "lactateThresholdSpeed": 0.34722125000000004, "lactateThresholdHeartRate":
        null, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1044719868, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        true, "latitude": 0, "longitude": 0, "locationName": "SANITIZED",
        "isoCountryCode": "MX", "postalCode": "12345"}, "golfDistanceUnit":
        "statute_us", "golfElevationUnit": null, "golfSpeedUnit": null, "externalBottomTime":
        null}, "userSleep": {"sleepTime": 80400, "defaultSleepTime": false, "wakeTime":
        24000, "defaultWakeTime": false}, "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/wellness-service/wellness/dailyStress/2023-07-01
  response:
    body:
      string: '{"userProfilePK": 2591602, "calendarDate": "2023-07-01", "startTimestampGMT":
        "2023-07-01T06:00:00.0", "endTimestampGMT": "2023-07-02T06:00:00.0", "startTimestampLocal":
        "2023-07-01T00:00:00.0", "endTimestampLocal": "2023-07-02T00:00:00.0", "maxStressLevel":
        86, "avgStressLevel": 35, "stressChartValueOffset": 1, "stressChartYAxisOrigin":
        -1, "stressValueDescriptorsDTOList": [{"key": "timestamp", "index": 0}, {"key":
        "stressLevel", "index": 1}], "stressValuesArray": [[1688191200000, 23], [1688191380000,
        20], [1688191560000, 25], [1688191740000, 21], [1688191920000, 20], [1688192100000,
        21], [1688192280000, 24], [1688192460000, 23], [1688192640000, 16], [1688192820000,
        20], [1688193000000, 20], [1688193180000, 22], [1688193360000, 22], [1688193540000,
        18], [1688193720000, 23], [1688193900000, 23], [1688194080000, 22], [1688194260000,
        19], [1688194440000, 22], [1688194620000, 20], [1688194800000, 18], [1688194980000,
 [...]
