interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 3154645, "profileId": 2591602, "garminGUID": "0690cc1d-d23d-4412-b027-80fd4ed1c0f6",
        "displayName": "mtamizi", "fullName": "Matin Tamizi", "userName": "mtamizi",
        "profileImageUuid": "73240e81-6e4d-43fc-8af8-c8f6c51b3b8f", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/73240e81-6e4d-43fc-8af8-c8f6c51b3b8f-2591602.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/685a19e9-a7be-4a11-9bf9-faca0c5d1f1a-2591602.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/6302f021-0ec7-4dc9-b0c3-d5a19bc5a08c-2591602.png",
        "location": "Ciudad de M\u00e9xico, CDMX", "facebookUrl": null, "twitterUrl":
        null, "personalWebsite": null, "motivation": null, "bio": null, "primaryActivity":
        null, "favoriteActivityTypes": [], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": [], "cyclingClassification": null, "cyclingMaxAvgPower":
        0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility": "private", "activityStartVisibility":
        "private", "activityMapVisibility": "public", "courseVisibility": "public",
        "activityHeartRateVisibility": "public", "activityPowerVisibility": "public",
        "badgeVisibility": "private", "showAge": false, "showWeight": false, "showHeight":
        false, "showWeightClass": false, "showAgeRange": false, "showGender": false,
        "showActivityClass": false, "showVO2Max": false, "showPersonalRecords": false,
        "showLast12Months": false, "showLifetimeTotals": false, "showUpcomingEvents":
        false, "showRecentFavorites": false, "showRecentDevice": false, "showRecentGear":
        false, "showBadges": true, "otherActivity": null, "otherPrimaryActivity":
        null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ", "SCOPE_ATP_WRITE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_READ",
        "SCOPE_CONNECT_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ",
        "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD",
        "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ",
        "SCOPE_INSIGHTS_WRITE", "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_CONNECT_2_USER", "ROLE_TACX_APP_USER"],
        "nameApproved": true, "userProfileFullName": "Matin Tamizi", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 117, "levelUpdateDate": "2020-12-12T15:20:38.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 2591602, "userData": {"gender": "MALE", "weight": 79800.0, "height":
        182.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1984-10-17", "measurementSystem":
        "metric", "activityLevel": null, "handedness": "RIGHT", "powerFormat": {"formatId":
        30, "formatKey": "watt", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        true, "displayFormat": null}, "heartRateFormat": {"formatId": 21, "formatKey":
        "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed": false, "displayFormat":
        null}, "firstDayOfWeek": {"dayId": 2, "dayName": "sunday", "sortOrder": 2,
        "isPossibleFirstDay": true}, "vo2MaxRunning": 46.0, "vo2MaxCycling": null,
        "lactateThresholdSpeed": 0.34722125000000004, "lactateThresholdHeartRate":
        null, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1044719868, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        false, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null}, "userSleep": {"sleepTime":
        80400, "defaultSleepTime": false, "wakeTime": 24000, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/wellness-service/wellness/daily/respiration/2023-07-01
  response:
    body:
      string: '{"userProfilePK": 2591602, "calendarDate": "2023-07-01", "startTimestampGMT":
        "2023-07-01T06:00:00.0", "endTimestampGMT": "2023-07-02T06:00:00.0", "startTimestampLocal":
        "2023-07-01T00:00:00.0", "endTimestampLocal": "2023-07-02T00:00:00.0", "sleepStartTimestampGMT":
        "2023-07-01T06:40:00.0", "sleepEndTimestampGMT": "2023-07-01T11:26:00.0",
        "sleepStartTimestampLocal": "2023-07-01T00:40:00.0", "sleepEndTimestampLocal":
        "2023-07-01T05:26:00.0", "tomorrowSleepStartTimestampGMT": "2023-07-02T06:04:00.0",
        "tomorrowSleepEndTimestampGMT": "2023-07-02T11:49:00.0", "tomorrowSleepStartTimestampLocal":
        "2023-07-02T00:04:00.0", "tomorrowSleepEndTimestampLocal": "2023-07-02T05:49:00.0",
        "lowestRespirationValue": 9.0, "highestRespirationValue": 21.0, "avgWakingRespirationValue":
        13.0, "avgSleepRespirationValue": 15.0, "avgTomorrowSleepRespirationValue":
        15.0, "respirationValueDescriptorsDTOList": [{"key": "timestamp", "index":
        0}, {"key": "respiration", "index": 1}], "respirationValuesArray": [[1688191320000,
        13.0], [1688191440000, 14.0], [1688191560000, 14.0], [1688191680000, 16.0],
        [1688191800000, 17.0], [1688191920000, 15.0], [1688192040000, 15.0], [1688192160000,
        14.0], [1688192280000, 14.0], [1688192400000, 14.0], [1688192520000, 14.0],
        [1688192640000, 13.0], [1688192760000, 13.0], [1688192880000, 13.0], [1688193000000,
        13.0], [1688193120000, 14.0], [1688193240000, 15.0], [1688193360000, 14.0],
        [1688193480000, 17.0], [168819360000[...]
