interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 2591602, "userData": {"gender": "MALE", "weight": 82700.0, "height":
        182.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1984-10-17", "measurementSystem":
        "metric", "activityLevel": null, "handedness": "RIGHT", "powerFormat": {"formatId":
        30, "formatKey": "watt", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        true, "displayFormat": null}, "heartRateFormat": {"formatId": 21, "formatKey":
        "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed": false, "displayFormat":
        null}, "firstDayOfWeek": {"dayId": 2, "dayName": "sunday", "sortOrder": 2,
        "isPossibleFirstDay": true}, "vo2MaxRunning": 50.0, "vo2MaxCycling": null,
        "lactateThresholdSpeed": 0.34722125000000004, "lactateThresholdHeartRate":
        null, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1044719868, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        false, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null}, "userSleep": {"sleepTime":
        80400, "defaultSleepTime": false, "wakeTime": 24000, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/download-service/export/tcx/activity/11998957007
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<TrainingCenterDatabase\n
        \ xsi:schemaLocation=\"http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2
        http://www.garmin.com/xmlschemas/TrainingCenterDatabasev2.xsd\"\n  xmlns:ns5=\"http://www.garmin.com/xmlschemas/ActivityGoals/v1\"\n
        \ xmlns:ns3=\"http://www.garmin.com/xmlschemas/ActivityExtension/v2\"\n  xmlns:ns2=\"http://www.garmin.com/xmlschemas/UserProfile/v2\"\n
        \ xmlns=\"http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2\"\n  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:ns4=\"http://www.garmin.com/xmlschemas/ProfileExtension/v1\">\n  <Activities>\n
        \   <Activity Sport=\"Other\">\n      <Id>2023-09-11T13:44:29.000Z</Id>\n
        \     <Lap StartTime=\"2023-09-11T13:44:29.000Z\">\n        <TotalTimeSeconds>4338.02</TotalTimeSeconds>\n
        \       <DistanceMeters>0.0</DistanceMeters>\n        <Calories>151</Calories>\n
        \       <AverageHeartRateBpm>\n          <Value>72</Value>\n        </AverageHeartRateBpm>\n
        \       <MaximumHeartRateBpm>\n          <Value>96</Value>\n        </MaximumHeartRateBpm>\n
        \       <Intensity>Active</Intensity>\n        <TriggerMethod>Manual</TriggerMethod>\n
        \       <Track>\n          <Trackpoint>\n            <Time>2023-09-11T13:44:29.000Z</Time>\n
        \           <HeartRateBpm>\n              <Value>64</Value>\n            </HeartRateBpm>\n
        \           <Extensions>\n              <ns3:TPX/>\n            </Extensions>\n
        \         </Trackpoint>\n          <Trackpoint>\n            <Time>2023-09-11T13:44:30.000Z</Time>\n
        \           <HeartRateBpm>\n              <Value>64</Value>\n            </HeartRateBpm>\n
        \           <Extensions>\n              <ns3:TPX/>\n            </Extensions>\n
        \         </Trackpoint>\n          <Trackpoint>\n            <Time>2023-09-11T13:44:31.000Z</Time>\n
        \           <HeartRateBpm>\n   [...]
